@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Domine&family=Ibarra+Real+Nova:wght@500&family=Lato:wght@300&family=Oswald&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    font-family: Cormorant SC, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
}

/* heading and logo */

h1,
h2 {
    font-family: Cormorant SC, sans-serif;
    text-transform: none;
    letter-spacing: 3px;
    color: #2f4f4f;
}

#logo {
    
    font-size: 300%;
    float: right;
    margin-right: 38%;
}

/* social media icons placed at top right */



/* navigation links */

body {
    font-family: "Lato", sans-serif;
    background-color: rgb(206, 222, 179);
  }
  
/* The Menubar menu */
.sidebar {
    height: 30%; /* 50% Full-height */
    width: 0; /* 0 width */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(5, 78, 73, 0.581); /* color */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 50px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The Menubar links */
  .sidebar a {
    padding: 8px 8px 8px 36px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top left corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-right: 20px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2f4f4f;
    color: #fafcfc;
    padding: 15px 20px;
    border: none;
    position: absolute;
    left: 0;
  }
  
  .openbtn:hover {
    background-color: rgb(68, 68, 68);
  }

/* hero image */

#hero-outer {
    height: 450px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 450px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;

/* animates zoom effect on loading image */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* Visit provences slideshow */
#visit {
    background-image: url('../images/hero-image_grey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#visit div {
    color: #fafafa;
    background-color: #2f4f4f;
    width: 25%;
    height: 300px;
    float: left;
    padding: 30px 0, 0, 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    opacity: 0.6;
}