@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Domine&family=Ibarra+Real+Nova:wght@500&family=Lato:wght@300&family=Oswald&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    font-family: Cormorant SC, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
}

/* heading and logo */

h1, h2 {
    font-family: Cormorant SC, sans-serif;
    text-transform: none;
    letter-spacing: 3px;
    color: #2f4f4f;
}

#logo {
    
    font-size: 300%;
    float: right;
    margin-right: 38%;
}

/* navigation links */

body {
    font-family: "Lato", sans-serif;
    background-color: rgb(226, 238, 204);
  }
  
/* The Menubar menu */
.sidebar {
    height: 50%; 
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(5, 78, 73, 0.581); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  /* The Menubar links */
  .sidebar a {
    padding: 8px 8px 8px 36px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
    
  }
  
  /* Position and style the close button (top left corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-right: 20px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2f4f4f;
    color: #fafcfc;
    padding: 15px 20px;
    border: none;
    position: absolute;
    left: 0;
  }
  
  .openbtn:hover {
    background-color: rgb(68, 68, 68);
  }

/* hero image */

#hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;

/* animates zoom effect on loading image */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode:backwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

/* central body text */

#stroll {
    height: 300px;
    text-align: center;
    top: 30px;
    padding: 30px;
}


/* Visit provence slideshow */

#munster {
    background-image: url('../images/quin-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px, 0, 0, 10px;
    width: 25%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #f1f1f1;
    float: left;
    box-sizing: border-box;    
}

#connacht {
    background-image: url('../images/galway-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px, 0, 0, 10px;
    width: 25%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #f1f1f1;
    float: left;
    box-sizing: border-box;
}

#leinster {
    background-image: url('../images/dublin-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px, 0, 0, 10px;
    width: 25%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #f1f1f1;
    float: left;
    box-sizing: border-box;
}

#ulster {
    background-image: url('../images/causeway-images-night.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px, 0, 0, 10px;
    width: 25%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #f1f1f1;
    float: left;
    box-sizing: border-box;
}

.whitetext{
    color: whitesmoke;
}

/* footer */

footer {
height: 300px;

}

.social-media {
    text-align: center;
    font-size: 160%;
    padding: 5%;
    

}

.social-media > li {
    display: inline;
    margin: 5%;
  }

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
}



input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 300px;
  margin-right: 300px;
  font-weight: bold;
}