@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Domine&family=Ibarra+Real+Nova:wght@500&family=Lato:wght@300&family=Oswald&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

/* body layout */

body {
    font-family: Cormorant SC, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
    background-color: rgb(226, 238, 204);
}

/* heading and logo */ 

h1, h2 {
    font-family: Cormorant SC, sans-serif;
    text-transform: none;
    letter-spacing: 3px;
    color: #2f4f4f;
    
}

#logo {
  
  width: 100%;
  height: auto;
  font-size: x-large;
  text-align: center;
  float: left;
}

#logo a{
  text-decoration: none;
  color: #2f4f4f;
}
  
/* The Menubar menu */
.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 10;
    top: 0;
    left: 0;
    background-color:  #2f4f4f;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    display: inline;
  }
  
  /* The Menubar links */
  .sidebar a {
    padding: 8px 8px 8px 36px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
    
  }
  
  /* Position and style of the close button (top left corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-right: 20px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color:  #2f4f4f;    
    padding: 15px 20px;
    background-color: rgb(226, 238, 204);
    position: absolute;
    left: 0;
    font-weight: bold;
  }
  
  .openbtn:hover {
    background-color:  #2f4f4f;
    color: whitesmoke;
  }

/* hero image */

#hero-image {
    position: relative;
    top: 60px;
    height: 300px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat  center;

/* animates zoom effect on loading image */
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode:backwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1.1);        
    }
    to{
        transform: scale(1);
        
    }
    
}

/* central body text */

#stroll {
    position: relative;
    width: 100%;
    text-align: center;   
    margin-top: 70px; 
}



/* Visit provence slideshow */
.container{
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 10px;
}
#munster {
    background-image: url('../images/quin-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px, 0, 0, 10px;
    width: 25%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #f1f1f1;
    float: left;
    box-sizing: border-box;  
}


#munster:hover{
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}


#connacht {
    background-image: url('../images/galway-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px, 0, 0, 10px;
    width: 25%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #f1f1f1;
    float: left;
    box-sizing: border-box;
}


#connacht:hover{
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}


#leinster {
    background-image: url('../images/dublin-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px, 0, 0, 10px;
    width: 25%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #f1f1f1;
    float: left;
    box-sizing: border-box;
}


#leinster:hover{
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}


#ulster {
    background-image: url('../images/causeway-images-night.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px, 0, 0, 10px;
    width: 25%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #f1f1f1;
    float: left;
    box-sizing: border-box;
}


#ulster:hover{
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}


.whitetext{
    color: whitesmoke;
}

/* footer */

footer{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 50px;
  text-align: center;
  font-size: x-large;
  overflow: hidden;
  
}


footer li {
    display: inline;
    margin-left: 5%;
  }

  /* contact page structure and layout */

input, textarea {
  width: 100%;
  padding: 10px;
  border-style: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
}

input[type=submit] {
  background-color: #2f4f4f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-box {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow:auto;
  
  
}

.border-box {
  box-sizing: border-box;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* munster video gallery */

#visitblock {
  padding-top: 50px;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-weight: bold;
  font-size: larger;
}


.column {
  float: left;
  width: 45%;
  height: auto;
  text-align: justify;
  margin-bottom: 50px;
  margin-left: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* media query */
 

  @media only screen and (max-width: 480px) {
    body {
      font-size: 10px;
      
    }

    #logo {
    font-size: large;
    float: right;
    }

    #stroll {
      max-width: 100%;
      padding: 6px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: justify;
      text-justify: inter-word;
      
    }

    .contact-box {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    
    .column {
      width: 100%;
    }
  
    }
  
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 75%;
  }

